%btn {
  @extend %text;

  display: inline-block;
  background: $secondary;
  color: $gray-3;
  font-size: rem(14);
  text-decoration: none;
  border-radius: 12px;
  padding: rem(9) rem(13);
}

%btn-primary {
  @extend %btn;

  background: $primary;
  color: $light;
}

%btn-outline {
  @extend %text;

  font-size: rem(18);
  line-height: 1.65;
  color: #2d9cdb;
  text-decoration: none;
}

%btn-outline-primary {
  @extend %btn-outline;

  color: $primary;
}
